body {
  background-color: #ffffff;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /*text-shadow: 0 0 2px black, -1px -1px 2px black, 1px 0 2px black,
    1px 1px 2px black;*/
}
.container {
  width: 400px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 2px;
  background-color: #000000;
}
#title-game,
#gameover-pic,
#youwin-pic {
  display: block;
  margin: 0 auto;
}

#currentWord {
  letter-spacing: 10px;
}

#keyPressPlayAgain,
#gameover-pic,
#youwin-pic {
  display: none;
}
.gameplay-area {
  padding-top: 2px;
  border: 1px #d6e0f5 solid;
  border-radius: 12dfpx;
  text-align: center;
  margin-top: 1px;
  min-height: 250px;
}
